.newsletter-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.newsletter-wrapper p {
    padding: 0.5em 0;
}

.newsletter-form ul {
    list-style: none;
}

.newsletter-form .form-categories {
    padding-left: 2em;
}

.newsletter-email-form {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.newsletter-email-input {
    flex: 1 0 auto;
}

.newsletter-email-input input {
    padding: 0.5rem;
    width: 95%;
    font-size: 1.0em;
    vertical-align: middle;
}

.newsletter-email-button {
    flex: 0 1 auto;
}

.newsletter-email-label label {
    background-color: var(--heading-footer-background-color);
    color: var(--heading-footer-text-color);
    padding: 0.25em;
}

.newsletter-email-button button {
    background-color: var(--heading-footer-background-color);
    color: var(--heading-footer-text-color);
    padding: 0.4em;
    vertical-align: top;
}

.newsletter-email-button button:hover {
    background-color: var(--site-accent-color);
    color: var(--heading-footer-text-color);
}