{%  extends 'common/index.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'newsletters/css/newsletter.css' %}">
<h3 class="page-title">Newsletter</h3>
<section class="newsletter-wrapper">
    <p>Абонирай се да получаваш най-новите публикувани статии по пощата. </p>
    <p>Можеш да отбележиш дали да получаваш всичко или само избрани категории. </p>
    <form action="{% url 'subscribe' %}" class="newsletter-form" method="POST">
        {% csrf_token %}
        {{ form }}
    </form>
</section>

{% endblock content %}