{%  extends 'common/index.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'newsletters/css/newsletter.css' %}">
<h3 class="page-title">Newsletter</h3>
<section class="newsletter-wrapper">
    <p>Абонирай се да получаваш най-новите публикувани статии по електронната поща. Абонирай се да получаваш най-новите публикувани статии по електронната поща. Абонирай се да получаваш най-новите публикувани статии по електронната поща. Абонирай се да получаваш най-новите публикувани статии по електронната поща. </p>
    <form class="newsletter-form" method="POST" action="{% url 'newsletter' %}" >
        {% csrf_token %}
        <ul class="newsletter-email-form">
            <li class="newsletter-email-input">
                {{ form.subscriber_email }}
            </li>
            <li class="newsletter-email-button">
                <button>Абонирай се</button>
            </li>
            {{ form.subscriber_email.errors }}
        </ul>
    </form>
    <p class="newsletter-unsubscribe-note">*Можете да се отпишете по всяко време чрез опцията в получените имейли.</p>
</section>

{% endblock content %}