{%  extends 'common/index.html' %}

{% block content %}

<h3 class="page-title">Категории</h3>
<ul class="categories-description">
    <li><a href="#"><span class="category-title-span">Коментари</span><p>- коментари на актуални събития и теми</p></a></li>
    <li><a href="#"><span class="category-title-span">Къде е истината?</span><p>- в търсене на политическия център</p></a></li>
    <li><a href="#"><span class="category-title-span">Какво да се прави?</span><p>- в търсене на правилните политики и политически дейстивия</p></a></li>
    <li><a href="#"><span class="category-title-span">България в цифри</span><p>- емпирично проверяване на тези/твърдния и статистически данни по важни въпроси</p></a></li>
    <li><a href="#"><span class="category-title-span">Медийна среда</span><p>- анализи на медии/медийната среда и тяхното въздействие върху обществото</p></a></li>
    <li><a href="#"><span class="category-title-span">Непопулярни мнения</span><p>- изразяване и защита на непопулярни мнения и тези</p></a></li>
    <li><a href="#"><span class="category-title-span">Нови парадигми</span><p>- търсене и представяне на нови гледни точки</p></a></li>
</ul>

{% endblock content %}

