{%  extends 'common/index.html' %}

{% block content %}

<div class="newest-wrapper">
    {% for article in page_obj %}
        <section class="newest-post">
            <section class="newest-post-image">
                <figure>
                    <img src="{{ article.image }}" alt="">
                </figure>
            </section>
                <section class="newest-post-text">
                    <h5>{{ article.title }}</h5>
                    <p>{{ article.create_date }}</p>
                    <p>{{ article.summary }}</p>
                    <a href="{% url 'article_page' article.id %}">Прочети</a>
                </section>
        </section>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock content %}

