{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/9cd6a1b86f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/styles.css' %}">
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
    <title>Центрист</title>
</head>
<body>
    <div class="site-wrapper">
        <header class="site-header">
            <input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-toggle">
            <label for="mobile-menu-toggle"><i class="fas fa-bars"></i></label>
            <nav class="site-header-navigation">
                <div><a href="{% url "index" %}">Най-нови</a></div>
                <div><a href="{% url "categories" %}">Категории</a></div>
                <div><a href="{% url "gallery" %}">Галерия</a></div>
                <div><a href="{% url "newsletter" %}">Newsletter</a></div>
                <div><a href="{% url "about" %}">За сайта</a></div>
                <div><a href="{% url "profile" %}">Профил</a></div>
            </nav>
            <h1 class="site-header-title"><a href="{% url "index" %}">Центрист</a></h1>
            <input type="checkbox" id="mobile-search-toggle" class="mobile-search-toggle">
            <div class="site-header-search">
                <label for="mobile-search-toggle"><i class="fas fa-search"></i></label>
                <ul class="search-entry-field">
                    <li><input type="text" id="search-entry-field" width=100% placeholder="Търсене в сайта" autofocus><label for="search-entry-field"><i class="fas fa-search"></i></label></li>
                </ul>
            </div>
        </header>

        <main class="site-main">

            {% block content %} {% endblock content %}

        </main>

        <aside class="site-aside">

        </aside>

        <footer class="site-footer">
            <address>
                <ul class="site-footer-social-media-icons">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </address>
            <p>Всички права запазени - ©2019-2020</p>
        </footer>
    </div>
</body>
</html>