<html lang="bg">
    <head>
        <title>За сайта</title>
        <meta name="url" content="about.html" />
    </head>
    <body>
        <h3 class="page-title">За сайта</h3>
        <p>Сайтът е създаден от НСС и цели създаването търсенето на политическата умереност в България и представя реалистични оценки и анализи на актуални събития и теми. Друг важна цел е повишаването на политическата култура и разоомагьосването на политически митове на базата на емпирични данни.</p>
    </body>
</html>
